{% extends 'base.html' %}

{% block content %}

{% load static %}

<main class=" blue lighten-1 profile-section">
    <div class="container  white-text">
        <img
            src="{% static 'profile.webp' %}"
            class="circle responsive-img left"
            style="max-width: 100px; margin-right: 30px;"
            alt="adjay thakoerdien"
        >
         <h2>BLOG</h2>
        This blog is the outlet of my thoughts and research I come across working and studying all things in.
        <br><br>

        </div>
    </div>
</main>

<section class="container">
    <ul>
    {% for post in object_list  %}

        <li><a href="{% url 'blogpost' post.pk %}">
                {{ post.title }}
        </a> -
                {{ post.author }} |
                {{ post.description }}

        </li>
    {% endfor %}
    </ul>
</section>

{% endblock %}