{% extends 'base.html' %}

{% block content %}

{% load static %}


<section class="card light-blue darken-2 border-radius">
    <div class="card-content white-text profile-card">
        <div class="row profile-header">
        <div class="hide-on-med-and-down col l s5">
            <img
                    src="{% static 'profile.jpeg' %}"
                    class="profile-image border-radius"
                    alt="adjay thakoerdien">
        </div>
        <div class="col  offset-s0 offset-m1 offset-l0 s12 m12">
            <h3>Adjay Thakoerdien</h3>
            <p>
                Enthusiastic and ambitious full-stack software engineer with a passion for data science and machine learning.

            </p>
        </div>
    </div>
    <div class="card-action right-align">
        <a href="#" class="white-text">Download resume</a>
    </div>

</section>

{% endblock %}
