{% extends 'base.html' %}

{% block content %}

{% load static %}

<main class="card light-blue darken-2">
    <div class="container card-content white-text">
        <div class="row">
        <div class="row col l4 m4 s12">
            <img
                src="{% static 'profile.jpeg' %}"
                class="border-radius responsive-img"
                alt="adjay thakoerdien">
        </div>
        <div class="col l8 m8 s12">
            <h2>Adjay Thakoerdien</h2>
            <p>
                Enthusiastic and ambitious full-stack software engineer with a passion for data science and machine learning.
                ...
            </p>
        </div>
    </div>
    <div class="card-action right-align">
        <a href="#" class="white-text">Download resume</a>
    </div>
</main>


{% endblock %}
