{% extends 'base.html' %}

{% block content %}

<main class=" blue lighten-1 profile-section">
    <div class="container  white-text">
        <h2>{{ project.title }}</h2>
        <h6>{{ project.description }}</h6>
        <h6>{{ project.date }}</h6>
        <br>

        </div>
    </div>
</main>


<section class="container">
<!--    <h6>{{ project.date }}</h6>-->

    <img style="margin: 20px 0;" class="responsive-img" src="{{ project.image1.url }}" />


    <div style="margin: 20px 0;">
        {{ project.intro }}
    </div>

    <div class="divider" style="margin:20px 0;"></div>

    <div>
        {{ project.text }}

        {% if project.image2 %}
        <img style="margin: 20px 0;" class="responsive-img" src="{{ project.image2.url }}" />
        {% endif %}

    </div>

    <div class="divider"  style="margin:20px 0;"></div>

    <div>
        <h3>Technologies</h3>
        {{ project.technologies }}
    </div>




    {% if project.text_end %}

    <div class="divider"  style="margin:20px 0;"></div>


    <div style="margin: 20px 0;">
        {{ project.text_end }}
    </div>

    {% endif %}


</section>

{% endblock %}